.root {
  align-items: center;
  color: var(--ifm-color-primary);
  display: flex;
  justify-content: space-between;
  height: var(--primary-nav-height-desktop);
  letter-spacing: .5px;
}

.right {
  align-items: center;
  display: flex;
  margin-bottom: 0;
}
