main article header h1 {
  margin-bottom: 20px;
}

main .markdown h2,
main article h2 {
  font-size: var(--header-size);
  font-weight: normal;
}

main .markdown > h2 {
  margin-bottom: 15px;
}

body h2 .hash-link {
  margin-left: -1.5rem;
}

.menu__link {
  font-family: var(--font-bold);
}

.menu__link span {
  margin-top: 1px;
}

.menu {
  --sidebar-horizontal-padding: 32px;
}

.break-word {
  word-break: break-all;
}

.snippet-container {
  margin-top: 5px;
}

/* Sidebar icon classes */

a.icon-indented,
.icon-indented a {
  background-position: -2px center !important;
  padding-left: calc( var(--icon-size) + 23px ) !important;
}

a.back-to-home,
.back-to-home a {
  --icon-size: 15px;
  background-position: 2px 1px !important;
  font-weight: normal;
  font-family: var(--font-normal);
  padding-left: calc( var(--icon-size) + .65em ) !important;
}

.dip-category > li:first-child {
  margin-bottom: .35em !important;
}

a.main-sidebar-icon,
.main-sidebar-icon a {
  --icon-size: 25px !important;
  background-position: 4px center !important;
  margin: .4em 0;
  padding-left: calc( var(--icon-size) + 21px ) !important;
}

.dip-category > .main-sidebar-icon {
  margin: .45em 0 !important;
}

.dip-info-icon a {
  background-position: 7px center !important;
}

.home a {
  background-size: var(--icon-size) !important;
}

.background-contain a {
  background-size: contain !important;
}

.main-sidebar-all-dips a {
  background-position: 5px center !important;
}

/* Universal media queries are located in DocPage/styles.module.css */
