.root {
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  height: var(--subnav-height-desktop);
}

.right {
  display: flex;
}

.search {
  margin-left: 18px;
  padding-top: 3px;
}

.root :global(.navbar__search-input:not(:focus)) {
  width: 170px;
}
