.docPage {
  display: flex;
}

.docSidebarContainer {
  border-right: 1px solid var(--ifm-contents-border-color);
  box-sizing: border-box;
  width: 300px;
  position: relative;
}

.docMainContainer {
  flex-grow: 1;
}

@media (max-width: 996px) {
  .docPage {
    display: inherit;
  }
}

/* Custom */
.docPage > div {
  border-right: none;
}
