name: Libra Lip Website Deployment

on:
  push:
    branches: [ master ]

jobs:
  build:
    if: github.repository == 'libra/lip'
    
    runs-on: ubuntu-latest

    steps:
    # Checks-out the Libra lip repository under $GITHUB_WORKSPACE, so job can access it
    - uses: actions/checkout@v2
    # Installs node and yarn
    - name: Use Node.js 12
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    # Install git
    - name: Install git
      run: |
        sudo apt --assume-yes update
        sudo apt --assume-yes install git
    # Build the website (site based on Docusaurus v2). 
    # Do build explicitly since it has a custom script. yarn deploy would not invoke custom script
    - name: Build website which includes custom script for lips in /scripts
      run: |
        yarn install
        yarn build
    # Then deploy using the build directory
    # Could possibly use the --skip-build option for deploy when upgrading Docusaurus
    # to alpha-0.56 or beyond
    # Something like this might work:
    #   yarn && yarn build && GIT_USER=libra-doc-bot USE_SSH=false yarn deploy --skip-build
    - name: Set up GitHub credentials to have the bot doing the commit
      run: |
        git config --global user.email "libra-doc-bot@users.noreply.github.com"
        git config --global user.name "Libra Lip Website Deployment Script"
        echo "machine github.com login libra-doc-bot password ${{ secrets.PUBLISH_AND_DEPLOY_TOKEN }}" > ~/.netrc
    - name: Deploying Libra Lip Website to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
          ACCESS_TOKEN: ${{ secrets.PUBLISH_AND_DEPLOY_TOKEN }}
          BRANCH: gh-pages # The branch the action should deploy to.
          FOLDER: build # The folder the action should deploy.
